<!doctype html>
<html>
	<head>
	<title>CIS 110 Practice</title>
		<meta charset="utf-8">
		<!-- <link rel="shortcut icon" href="../static/images/pennLogo.png"> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	 	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/js/theater.min.js"></script>

		<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/f14_5.1.css">
	</head>
	<body>

	<h1>Midterm: Fall 2014 - Question 5.1</h1>

	<div class="container">
		<div class="row">
			<div id="question">
				<p><strong>5.1)</strong> Write a function <span class="littleBold">sameSign()</span> that takes an array of integers and returns true if they are all greater than zero or all less than zero, and false otherwise. If the array is null or empty, return true.</p>
			</div>
		</div>

    <div id="walkthroughButton">
      <a class="btn-geckoboard btn-outline btn-lg" href="#" onclick="clickWalkthroughButton()">Finished reading the question</a>
    </div>

		<div class="row">
			<div class="col-md-6" id="answer">
				<div id="line1"></div>
				<div id="line2"></div>
				<div id="line3"></div>
				<div id="line4"></div>
				<div id="line5"></div>
				<div id="line6"></div>
				<div id="line19"></div>
				<div id="line7"></div>
				<div id="line8"></div>
				<div id="line9"></div>
				<div id="line10"></div>
				<div id="line20"></div>
				<div id="line11"></div>
				<div id="line12"></div>
				<div id="line13"></div>
				<div id="line14"></div>
				<div id="line15"></div>
				<div id="line16"></div>
				<div id="line21"></div>
				<div id="line17"></div>
				<div id="line18"></div>
			</div>

			<div class="col-md-6" id="teacher">
				<div id="line1T"></div>
				<div class="space"></div>
				<div id="line2T"></div>
			</div>
		</div>

    <div id="nextStep1">
      <a class="btn-geckoboard btn-outline btn-lg" href="#" onclick="clickNextStep1()">Next Step</a>
    </div>

    <div id="nextStep2">
      <a class="btn-geckoboard btn-outline btn-lg" href="#" onclick="clickNextStep2()">Next Step</a>
    </div>
	</div>

	<script src="../static/js/f14_5.1.js"></script>
	</body>
</html>